### Développement d’un pipeline de calcul du TMB

#### Projet 4BiM, 2021

#### Auteurs : Marie Casimir, Loup Petitjean et Nicolas Mendiboure
#### Encadrantes Innate-Pharma : Sabrina Carpentier et Luciana Bastista
#### Encadrante INSA : Maïwenn Pineau

*Pour install PyVCF : pip install pyvcf*

In [28]:
from cyvcf2 import VCF
import vcf
import pandas as pd

In [40]:
## Avec cyvcf2 :

ref = []
alt = [] 
for record in VCF("./test_radia.vcf"):
    ref.append(record.REF)
    alt.append(record.ALT)
    
df = pd.DataFrame(list(zip(ref, alt)), columns=["REF", "ALT"])
df.head()

  REF  ALT
0   C  [T]
1   G  [A]
2   A  [T]
3   C  [G]
4   T  [C]

In [41]:
# Avec pyvcf :

vcf_reader = vcf.Reader(open('./test_radia.vcf', 'r'))

CHROM = []
POS = []
REF = []
ALT = []
QUAL = []
INFO = []

for record in vcf_reader:
    CHROM.append(record.CHROM)
    POS.append(record.POS)
    REF.append(record.REF)
    ALT.append(record.ALT)
    QUAL.append(record.QUAL)
    INFO.append(record.INFO)

df2 = pd.DataFrame(list(zip(CHROM, POS, REF, ALT, QUAL, INFO)), 
                  columns=["CHROM", "POS", "REF", "ALT", "QUAL", "INFO"])
df2.head()

,CHROM,POS,REF,ALT,QUAL,INFO
0,1,29651735,C,[T],0,"{'AC': [40], 'AF': [0.1], 'AN': 2, 'BQ': 36, '..."
1,1,144852566,G,[A],0,"{'AC': [4], 'AF': [0.08], 'AN': 2, 'BQ': 37, '..."
2,1,144951880,A,[T],0,"{'AC': [6], 'AF': [0.15], 'AN': 2, 'BQ': 33, '..."
3,1,148342496,C,[G],0,"{'AC': [82], 'AF': [0.07], 'AN': 2, 'BQ': 37, ..."
4,1,149340855,T,[C],0,"{'AC': [4], 'AF': [0.1], 'AN': 2, 'BQ': 32, 'D..."